<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Список пользователей</title>
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css">
</head>
<body>
<p> заявки участников </p>
     <table class="table table-striped table-bordered">
    <thead>
        <tr>
{#            <th scope="col">#</th>#}
            <th scope="col">Имя пользователя</th>
            <th scope="col">Фамилия</th>
            <th scope="col">Имя</th>
            <th scope="col">Организация</th>
            <th scope="col">Позиция</th>
            <th scope="col" colspan="2">пользовательские заявки в состав совета</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
            <tr>
            {% if user.scientist == False and user.user_is_reject == False and user.user_submit %}
{#                <th scope="row">#}
{#                    {{ user.user.id }}#}
{#                </th>#}
                <td>
                    {{ user.user }}
                </td>
                <td>
                    {{ user.user.last_name }}
                </td>
                <td>
                    {{ user.user.first_name }}
                </td>
                <td>
                    {{ user.organization }}
                </td>
                <td>
                    {{ user.position }}
                </td>
                    <td>
                        <a href="add_to_scientists/{{ user.id }}"> принять в состав</a>
                    </td>
                    <td>
                        <a href="delete_from_scientists/{{ user.id }}"> отклонить заявку</a>
                    </td>
                {% endif %}
                {% if user.scientist == None %}
                    <td>
                        <p> Ожидает разрешения на вступление в состав</p>
                    </td>
                {%  endif %}
            </tr>
        {% endfor %}
    </tbody>
     </table>

<p>состав участников и ученых</p>
<a href="post_email">Тест</a>
    <table class="table table-striped table-bordered">
    <thead>
        <tr>
{#            <th scope="col">#</th>#}
            <th scope="col">Имя пользователя</th>
            <th scope="col">Фамилия</th>
            <th scope="col">Имя</th>
            <th scope="col">Организация</th>
            <th scope="col">Позиция</th>
            <th scope="col">Удалить аккаут</th>
            <th scope="col">Состав совета</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
            <tr>
{#                <th scope="row">#}
{#                    {{ user.user.id }}#}
{#                </th>#}
                <td>
                    {{ user.user }}
                </td>
                <td>
                    {{ user.user.last_name }}
                </td>
                <td>
                    {{ user.user.first_name }}
                </td>
                <td>
                    {{ user.organization }}
                </td>
                <td>
                    {{ user.position }}
                </td>
                <td>
                    <a href="delete_user/{{ user.id }}">Удалить</a>
                </td>
                {% if user.scientist == True %}
                    <td>
                        <a href="delete_from_scientists/{{ user.id }}"> Удалить из состава</a>
                    </td>
                {% endif %}
                {% if user.scientist == False %}
                    <td>
                        <a href="add_to_scientists/{{ user.id }}"> Добавить в состав</a>
                    </td>
                {% endif %}
                {% if user.scientist == None %}
                    <td>
                        <p> Ожидает разрешения на вступление в состав</p>
                    </td>
                {%  endif %}
            </tr>
        {% endfor %}
    </tbody>
    </table>
</body>
</html>