<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="UTF-8" />

    <link rel="stylesheet" href="../static/css/index.css" >
    <link rel="stylesheet" href="../../static/css/base.css">
    <script src="../static/js/index.js"></script>

    <link rel="stylesheet" href="../../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/css/global-styles.css">
    <script src="../../static/js/bootstrap.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script>
    $(document).ready(function(){
        $("a[href*=#]").on("click", function(e){
            var anchor = $(this);
            $('html, body').stop().animate({
                scrollTop: $(anchor.attr('href')).offset().top - 65
            }, 777);
            e.preventDefault();
            return false;
        });
    });
</script>
    <title>Совет молодых учёных ДВО РAН</title>
</head>
<body id="top">
    <a href="#top" style="position: fixed;bottom: 15px;right: 20px; ">Наверх</a>

    <!-- HEADER -->
    <nav class="navbar navbar-expand-lg navbar-custom sticky-top">
        <a class="navbar-brand" href="http://127.0.0.1:8000/">Совет молодых ученых ДВО РАН</a>
        <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            {% if request.user.is_authenticated %}
                <ul class="navbar-nav ml-auto">
                    <li {% if section == "dashboard" %} class="nav-item"{% endif %}>
                        <form action="{% url "dashboard" %}">
                            <button type="submit" class="button-link">Профиль</button>
                        </form>
                    </li>
                    <form action="{% url "logout" %}">
                        <button type="submit" class="button-link">Выйти</button>
                    </form>
                    </ul>
            {% else %}
                <ul class="navbar-nav ml-auto">
                    <button type="button" class="button-link" data-toggle="modal" data-target="#exampleModalScrollable">Войти</button>
                    <button type="button" class="button-link" data-toggle="modal" data-target="#exampleModalScrollable1">Регистрация</button>
                </ul>
        </div>
        {% endif %}
    </nav>

    <!-- Modal -->
    <div class="modal fade bd-example-modal-sm" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
        <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
            <div class="modal-content">
               <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalScrollableTitle" style="color: blue">Вход</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
               </div>
               <div class="modal-body">
                   <div class="registration-form">
                       <form action="{% url "login" %}?next={{ current_url }}" method="POST">
                           {% csrf_token %}
                           <p><input id="username-field" name="username" placeholder="Username" type="text" /></p>
                           <p><input id="password-field" name="password" placeholder="Enter Password" type="password" /></p>
                           <p><input type="submit" value="Войти"></p>
                       </form>
                  </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Modal -->
        <div class="modal fade bd-example-modal-sm" id="exampleModalScrollable1" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
          <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalScrollableTitle" style="color: blue">Регистрация</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                    <div class="registration-form">
                        <p style="color: blue">Пожалуйста, зарегистрируйтесь используя следующую форму:</p>
                        <form action="{% url "register" %}?next={{ current_url }}" method="POST">
                            {% csrf_token %}
                            <p><input id="username" name="username" placeholder="Username"type="text" /></p>
                            <p><input id="first_name" name="first_name" placeholder="First Name"type="text" /></p>
                            <p><input id="last_name" name="last_name" placeholder="Last Name"type="text" /></p>
                            <p><input id="email" name="email" placeholder="Email"type="text" /></p>
                            <p><input id="password" name="password" placeholder="Enter Password"type="password" /></p>
                            <p><input id="password2" name="password2" placeholder="Repeat Password"type="password" /></p>
                            <p><input type="submit" value="Войти"></p>
                        </form>
                    </div>
              </div>
            </div>
          </div>
        </div>

    <!-- JUST ONE SLIDE-->
    <div style="padding-top: 1px" id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" >
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="../../media/banner1.png" alt=" "> <!-- Задать путь до баннера-->
            </div>
        </div>
    </div>

    <div class="container mt-3">
        <div class="row text-center">
            <div class="col-sm-12 col-md">
                <a href="#about-council" class="some_link;  text-dark " style="font-size: large">О совете</a>
            </div>
            <div class="col-sm-12 col-md">
                <a href="#scientists-list" class="text-dark" style="font-size: large">Состав совета</a>
            </div>
            <div class="col-sm-12 col-md">
                <a href="#news" class="text-dark" style="font-size: large">Новости</a>
            </div>
            <div class="col-sm-12 col-md">
                <a href="#ads" class="text-dark" style="font-size: large">Объявления</a>
            </div>
            <div class="col-sm-12 col-md">
                <a href="#conferences" class="text-dark" style="font-size: large">Конференции</a>
            </div>
        </div>
    </div>

    <!-- Новости-->
    <br>
    <div class='container-fluid'>
        <div id="news" class="mt-5">
            <div class="col-md-12 list-post">
                <div class="row">
                    {% for this_news in news %}
                        <div class="col-md-2 col-xs-12 col-sm-6">
                            <div class="img-post">
                                {% if this_news.photo %}
                                    <br>
                                    <img class="img-fluid rounded" src="{{ this_news.photo.url }}" alt="{{ this_news.title }}">
                                {% endif %}
                            </div>
                            <div class="desc-post">{{ this_news.title }}</div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <br>
    <br>

    <!-- О совете -->
    <div class='container-fluid padding'>
    <div class='container-fluid padding'>
    <div class='container-fluid padding'>
        <div class="row">
            <div class="col-md-7">
                <div class='row jumbotron' id="about-council">
                    <div class='col-sm-12'>
                        <p class='lead'> Совет молодых ученых Дальневосточного отделения Российской академии наук воссоздан <b>14 марта 2002 года</b>
                        с целью объединения научной молодежи, выражения ее интересов, сохранения научного потенциала и преодоления
                        негативных тенденций в возрастной структуре научных кадров.</p>
                        <a href='#'><button type='button' class='btn btn-outline-secondary btn-lg'> Читать </button></a>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
            <!-- Опрос-->
                {% if request.user.is_authenticated %}
                    <div class="container-fluid" id="polls">
                    {% for poll in polls %}
                        <div class="col-md-9 col-xs-9 col-sm-4">
                            <li class="list-group-item">
                                <strong>{{ poll.question }}</strong>
                                <span style="display: block; justify-content: flex-end" class="pull-right">
                                    {% if not user.is_superuser %}
                                        <br>
                                        <a style="display: block" href="{% url 'vote' poll.id %}" class="btn btn-info btn-xs">Проголосовать</a> &nbsp;
                                    {% endif %}
                                    {% if user.is_superuser %}
                                        <a href="{% url 'results' poll.id %}" class="btn btn-outline-primary">Показать результаты</a> &nbsp;
                                        <a href="{% url 'delete' poll.id %}" class="btn btn-default btn-xs">Удалить опрос</a>
                                    {% endif %}
                                </span>
                            </li>
                        </div>
                        <br>
                    {% endfor %}
                {% endif %}
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>

    <hr>
    <!-- Конференции -->
    <div class='container-fluid padding'>
        <div class="container-fluid padding"  id="conferences" class="mt-5">
            <div class='row padding'>
                <div class='col-lg-3' style="border-width: 0 1px 0 0;border-style: solid; padding-right: 10px; border-color: #6c757d">
                    <center><h2>Конференции</h2></center>
                </div>
                <div class='col-lg-9'>
                    <div class="row">
                        {% for c in conference %}
                            <div class="col-md-2 col-xs-12 col-sm-6">
                                <hr>
                                <h4>{{ c.title }}</h4>
                                <p><b>Описание:</b> {{ c.text }}</p>
                                <p><b>Время:</b> {{ c.date }}</p>
                                <p><b>Место:</b> {{ c.place }}</p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr class='my-4'>


    <!-- Состав совета -->
        <div class="container-fluid" id="scientists-list">
        <hr><div> Показать количество записей; Поиск; И т.д.</div><hr>
        <div class="row">
        <div class="col-md-2"> </div>
        <div class="col-md-8">
            {% for user in users %} <!-- Выводятся поля с принадлежностью к ученым -->
                {% if user.scientist == True %}
                    <hr>
                    <div class="row">
                        <div class="col-2">
                            {% if user.photo %}
                                <img width="250" height="250" class="img-fluid rounded float-left" src="{{user.photo.url }}" alt="Изображение было удалено с сервера.">
                            {% else %}
                                <img width="250" height="250" class="img-fluid rounded float-left" src="../../media/no_photo.png" alt="Изображение было удалено с сервера.">
                            {% endif %}
                        </div>
                        <div class="col-7 pr-4">
                            <h4 class="text-dark">
                                {{ user.user.last_name }}
                                {{ user.user.first_name }}
                            </h4>
                            <p class="text-justify">
                                {% if user.date_of_birth %}
                                    <b>Дата рождения: </b> {{ user.date_of_birth }} <br>
                                {% endif %}
                                <b>Место работы: </b>{{ user.organization }} <br>
                                <b>Занимаемая должность: </b>{{ user.position }} <br>
                                <b>О себе: </b>{{ user.bio }} <br>
                            </p>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        </div>
        </div>
    <hr>
    <br>

    <div class="col-md-4" style="padding-left: 65px">
     <hr><div> Пока не придумала о впихивании этой штуки</div><hr>
        <div class='col-sm-12; row jumbotron' id="ads">
            <!-- Объявления -->
            {% for this_ads in ads %}
                <div class="text-center">
                    <hr>
                    <h6 class="text-justify">{{ this_ads.title }}</h6>
                    <br>
                </div>{% endfor %}
        </div>
    </div>
    <hr>

</body>
</html>
